.photo-grid {
  max-width: 1184px;
  margin: 92px 48px;
}

.photo-grid__list {
  max-height: 671px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  
  /* grid test */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  
  /* flexbox test */
  /* display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap; */
}

.photo-grid__item {
  max-width: 284px;
}

.photo-grid__image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid__list {
    /* grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px; */
  }
}