.places {
  max-width: 984px;
  margin: 0 148px;
}

.places__list {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
}

.places__item {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 48px 40px;
  margin-bottom: 80px;
}

.places__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  margin: 0;
  max-width: 460px;
}

.places__website {
  max-width: 456px;
  max-height: 46px;
  margin: 0;
  align-self: flex-end;
}

.places__url-heading {
  margin: 0 0 4px;
  border: 0;
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.2em;
}

.places__link {
  margin: 4px 0 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  vertical-align: top;
  text-decoration: none;
  border-bottom: 1px solid #FFFFFF;
}

.places__link:hover {
  opacity: 0.8;
}

.places__image {
  max-width: 460px;
  object-fit: cover;
}  

.places__paragraph-block {
  max-width: 484px;
  margin: 0;
}  

.places__paragraph {
  margin: 0 0 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
}  

@media screen and (max-width: 1024px) {
  .places {
    margin: 0 48px;
  }
}