@import url(./__list/places__list.css);
@import url(./__item/places__item.css);
@import url(./__title/places__title.css);
@import url(./__website/places__website.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__link/places__link.css);
@import url(./__image/places__image.css);
@import url(./__paragraph-block/places__paragraph-block.css);
@import url(./__paragraph-text/places__paragraph-text.css);

.places {
  max-width: 984px;
  margin: 0 148px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 0;
  }
}