.header {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 34px;
}

.header__nav {
  max-height: 44px;
  display: flex;
  justify-content: space-between;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.header__list-item {
  margin-left: 18px;
}

.header__lang-link {
  margin: 0;
  text-decoration: none;
  color: #FFF;
}