.header {
  max-width: 984px;
  margin: 0 148px 58px;
  padding-top: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 0 48px 50px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 24px 50px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 0 16px 50px;
    padding-top: 20px;
  }
}