.header {
  max-width: 984px;
  margin: 34px 148px 58px;
}

.header__nav-bar {
  max-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.header__list-item {
  margin-left: 18px;
}

.header__lang-link {
  margin: 0;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
  text-align: right;
}

.header__list-item_active {
  border-bottom: 2px solid #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 34px 48px 58px;
  }
}