.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  transition: opacity .4s ease-out .2s;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .footer__link {
    margin: 0;
    font-size: 24px;
    line-height: 1.0;
  }
}
