@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  margin: 92px 48px 0;
  max-width: 1184px;
  background: url("../../images/cover-route-66.jpg") no-repeat center / cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 89px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 64px 0 0;
  }
}